<div class="container">
    <div class="jumbotron jumbotron-sm" style="background-color:#ebebeb;margin-top:2%;color:#838b8b;">
        <div class="row">
            <div class="col-sm-12 col-lg-12">
                <h1 class="h2" style="margin-top:-2%">
                    Contact
                </h1>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <div class="well">
                <h3 style="line-height:20%;"><i class="fa fa-home fa-1x" style="line-height:6%"></i> Adresse:</h3>               
                <p style="margin-top:6%;line-height:35%">Adresse</p>
                <br />
                <br />
                <h3 style="line-height:20%;"><i class="fa fa-envelope fa-1x" style="line-height:6%"></i> Info:</h3>
                <p style="margin-top:6%;line-height:35%">Info</p>
                <br />
                <br />
                
                <h3 style="line-height:20%;"><i class="fa fa-yelp fa-1x" style="line-height:6%"></i> Site :</h3>
                <p style="margin-top:6%;line-height:35%"><a href="http://www.adressesite.com/home">adressesite.com/home</a></p>
            </div>
        </div>
        <div class="col-sm-6">
            <iframe src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJD7fiBh9u5kcRYJSMaMOCCwQ&key=AIzaSyB2Qv8Iwf4oclfpUlvFPDS9eWYzQhh3R04" width="500" height="325" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
    </div>
</div>