<div class="container-fluid">
  <div class="row content">
 <!--   <div class="col-sm-3 sidenav hidden-xs">
      <h2>Logo</h2>
      <ul class="nav nav-pills nav-stacked">
        <li class="active"><a href="#section1">Dashboard</a></li>
        <li><a href="#section2">Age</a></li>
        <li><a href="#section3">Gender</a></li>
        <li><a href="#section3">Geo</a></li>
      </ul><br>
    </div> -->
    <br>
    
    <div class="row">
      <div class="well">
        <h4>Tableau de bord</h4>
        <p>Cette section est un petit aperçu de l'utilisateur pour l'aider à naviguer la plate-forme.</p>
      </div>
      <div class="row" *ngIf="userParent">
        <div class="col-sm-4"  >
          <div class="well">
            <h4>Babysitters</h4>
            <p>{{numBabysitters}}</p> 
          </div>
        </div>
        <div class="col-sm-4" >
          <div class="well">
            <h4>Seances</h4>
            <p>{{numSeancesParent}}</p> 
          </div>
        </div>
        <div class="col-sm-4" >
          <div class="well">
            <h4>Invitations</h4>
            <p>{{numInvitationParent}}</p> 
          </div>
        </div>
       </div>
      <div class="row" *ngIf="userBabysitter">
       <div class="col-sm-6" >
          <div class="well">
            <h4>Parents</h4>
            <p>{{numParents}}</p> 
          </div>
        </div>
       <div class="col-sm-6">
          <div class="well">
            <h4>Invitations</h4>
            <p>{{numInvitationBabysitter}}</p> 
          </div>
        </div>
      </div>

 <div *ngIf="userBabysitter"> 
  <div class="panel panel-primary">

    <!-- Panel Title -->
    <div class="panel-heading">
      <h3 class="panel-title">Parents <span class="label label-default">Disponibles</span></h3>
    </div>

    <!-- Panel Body -->
    <div class="panel-body">
       <div class="row achievements-wrapper">
    <table class="table table-hover table-striped table-responsive">
    <thead >
      <tr>
        <th>Prénom</th>
        <th>Nom</th>
        <th>Nom utilisateur</th>
        <th>Email</th>
      </tr>
      <tr>
        <th><input type="text" id="inputFirstname" class="form-control" placeholder="Prénom" [(ngModel)]="firstname"></th>
        <th><input type="text" id="inputLastname" class="form-control" placeholder="Nom" [(ngModel)]="lastname"></th>
        <th> <input type="text" id="inputUsername" class="form-control" placeholder="Nom utilisateur" [(ngModel)]="username"> </th>
        <th> <input type="text" id="inputEmail" class="form-control" placeholder="Email" [(ngModel)]="email"> </th>
        
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let parent of Parents | customEmailFilter:email | customFirstnameFilter:firstname  | customLastnameFilter:lastname | customUsernameFilter:username" (click)="redirectToUser(parent.username)">
        <td>{{ parent.firstname }}</td>
        <td>{{ parent.lastname }}</td>
        <td>{{ parent.username }}</td>
        <td>{{ parent.email }}</td>
      </tr>
      
    </tbody>
  </table>

      </div>
    </div>

     <div class="panel-footer">
      
      </div>


  </div>
  </div>


 

  <div *ngIf="userParent"> 
  <div class="panel panel-primary">

    <!-- Panel Title -->
    <div class="panel-heading">
      <h3 class="panel-title">Babysitters <span class="label label-default">Disponible</span></h3>
    </div>

    <!-- Panel Body -->
    <div class="panel-body">
      <div class="row achievements-wrapper" *ngIf="userParent">
    <table class="table table-hover table-striped table-responsive">
    <thead>
      <tr>
        <th>Prénom</th>
        <th>Nom</th>
        <th>Nom utilisateur</th>
        <th>Email</th>
        
      </tr>
       <tr>
        <th><input type="text" id="inputFirstname" class="form-control" placeholder="Prénom" [(ngModel)]="firstname"></th>
        <th><input type="text" id="inputLastname" class="form-control" placeholder="Nom" [(ngModel)]="lastname"></th>
        <th> <input type="text" id="inputUsername" class="form-control" placeholder="Nom utilisateur" [(ngModel)]="username"> </th>
        <th> <input type="text" id="inputEmail" class="form-control" placeholder="Email" [(ngModel)]="email"> </th>
        
      </tr>
   </thead>
    <tbody>
      <tr *ngFor="let babysitter of Babysitters | customEmailFilter:email | customFirstnameFilter:firstname  | customLastnameFilter:lastname | customUsernameFilter:username" (click)="redirectToUser(babysitter.username)">
        <td>{{ babysitter.firstname }}</td>
        <td>{{ babysitter.lastname }}</td>
        <td>{{ babysitter.username }}</td>
        <td>{{ babysitter.email }}</td>
      </tr>
      
    </tbody>
  </table>
      </div>
    </div>

     <div class="panel-footer">
      
      </div>


  </div>
  </div>

      <div class="row">
        <div class="col-sm-8">
          <div class="well">
            <p></p> 
          </div>
        </div>
        <div class="col-sm-4">
          <div class="well">
            <p></p> 
          </div>
        </div>
      </div>
    </div>



  </div>
</div>