<h1 class="page-header">Inviter {{invitedUsername}}</h1>

<!-- Custom Success/Error Message -->
<div class="row show-hide-message" *ngIf="message">
  <div [ngClass]="messageClass">
    {{ message }}
  </div>
</div>

<!-- New Blog Form -->
<form [formGroup]="form" name="invitationForm" (submit)="onInvitationSubmit()">
  <!-- Title Input -->
  <div class="form-group">
    <label for="title">Titre</label>
    <div [ngClass]="{'has-success': form.controls.title.valid, 'has-error': form.controls.title.dirty && form.controls.title.errors}">
      <input type="text" name="title" class="form-control" placeholder="*Titre Seance" autocomplete="off" formControlName="title" />
      <ul class="help-block">
        <li *ngIf="form.controls.title.dirty && form.controls.title.errors?.required">Ce champs est requis.</li>
        <li *ngIf="(form.controls.title.dirty && form.controls.title.errors?.minlength) || (form.controls.title.dirty && form.controls.title.errors?.maxlength)">Max length: 50, Min length: 5</li>
        <li *ngIf="form.controls.title.dirty && form.controls.title.errors?.alphaNumericValidation">Doit être une lettre ou un numéro</li>
      </ul>
    </div>
  </div>

  <!-- Body Input -->
  <div class="form-group">
    <label for="body">Desciption</label>
    <div [ngClass]="{'has-success': form.controls.body.valid, 'has-error': form.controls.body.dirty && form.controls.body.errors}">
      <textarea name="body" rows="8" cols="80" placeholder="*Description" class="form-control" formControlName="body"></textarea>
      <ul class="help-block">
        <li *ngIf="form.controls.body.dirty && form.controls.body.errors?.required">Ce champs est requis.</li>
        <li *ngIf="(form.controls.body.dirty && form.controls.body.errors?.minlength) || (form.controls.body.dirty && form.controls.body.errors?.maxlength)">Longueur max: 500, Longueur: 5</li>
      </ul>
    </div>
  </div>

  <div class="form-group">
    <label for="date">Date et heure de seance</label>
    <div [ngClass]="{'has-success': form.controls.date.valid, 'has-error': form.controls.date.dirty && form.controls.date.errors}">
       <input type="datetime-local" name="date" class="form-control" formControlName="date">
       <ul class="help-block">
        <li *ngIf="form.controls.date.dirty && form.controls.date.errors?.required">Ce champs est requis.</li>
       </ul>
    </div>
  </div>

  <div class="form-group">
    <label for="duration">Durée</label>
    <div [ngClass]="{'has-success': form.controls.date.valid, 'has-error': form.controls.date.dirty && form.controls.date.errors}">
       <input name="duration" id="DurationInputId"  type="range" min="1" max="12" value="1" class="form-control" formControlName="duration"  oninput="DurationOutputId.value = DurationInputId.value">
       <output name="DurationOutput" id="DurationOutputId">1</output>
       <ul class="help-block">
        <li *ngIf="form.controls.date.dirty && form.controls.date.errors?.required">Ce champs est requis.</li>
       </ul>
    </div>
  </div>

  <!-- Go Back Button -->
  <button [disabled]="processing" type="button" name="button" (click)="goBack()" class="btn btn-warning">Retourner</button>
  <!-- Submit Button -->
  <button [disabled]="processing || !form.valid" type="submit" name="button" class="btn btn-success">Envoyer</button>

</form>